table {
    width: 100%;
}

td {
    padding: 22px !important;
}

th {
    padding-left: 24px !important;
}

::ng-deep .actions-cell {
    padding-left: 24px !important;
}

.loading {
    display: flex;
    margin: 0 auto;
    z-index: 1;
}