<div *ngIf="loading" class="loading">
    <img src="assets/icons/loadingapp.svg" alt="Carregando...">
</div>

<div *ngIf="!loading" class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="
            flex flex-col
            sm:flex-row
            flex-0
            sm:items-center sm:justify-between
            p-6
            sm:py-8 sm:px-10
            border-b
            bg-card
            dark:bg-transparent
        ">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Dashboards</a>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="
                            inline-flex
                            items-center
                            -ml-1.5
                            text-secondary
                            font-medium
                        ">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="
                        text-3xl
                        md:text-4xl
                        font-extrabold
                        tracking-tight
                        leading-7
                        sm:leading-10
                        truncate
                    ">
                    Dashboards
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button class="ml-3" mat-flat-button [color]="'accent'" (click)="newForm()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                Filtros
            </button>
        </div>
    </div>

    <!-- dashs -->
    <div class="all overflow-y-auto">
        <div class="container-contents" cdkScrollable>
            <div class="content">
                <label>Funcionário do mês</label>
                <span>Matheus Lima</span>
            </div>

            <div class="content">
                <label>Quantidade total de cortes</label>
                <span>60</span>
            </div>

            <div class="content">
                <label>Valor total faturado</label>
                <span>R$ 38.549,35</span>
            </div>
        </div>

        <div class="container-canvas" cdkScrollable>
            <canvas baseChart [datasets]="configFaturament.dataset" [labels]="configFaturament.labels"
                [options]="chartOptions" chartType="line">
            </canvas>
        </div>

        <div class="container-canvas" cdkScrollable>
            <canvas baseChart [datasets]="configUser.dataset" [labels]="configUser.labels" [options]="chartOptions"
                chartType="doughnut">
            </canvas>
        </div>

        <div class="container-canvas" cdkScrollable>
            <canvas baseChart [datasets]="configServices.dataset" [labels]="configServices.labels"
                [options]="chartOptions" chartType="bar">
            </canvas>
        </div>

        <div class="container-canvas" cdkScrollable>
            <canvas baseChart [datasets]="configSchedule.dataset" [labels]="configSchedule.labels"
                [options]="chartOptions" chartType="bar">
            </canvas>
        </div>
    </div>
</div>