<div *ngIf="loading" class="loading">
    <img src="assets/icons/loadingapp.svg" alt="Carregando...">
</div>

<div *ngIf="!loading" class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="
            flex flex-col
            sm:flex-row
            flex-0
            sm:items-center sm:justify-between
            p-6
            sm:py-8 sm:px-10
            border-b
            bg-card
            dark:bg-transparent
        ">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div>
                <div class="hidden sm:flex flex-wrap items-center font-medium">
                    <div>
                        <a class="whitespace-nowrap text-primary-500">Operação</a>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Realizado</span>
                    </div>
                    <div class="flex items-center ml-1 whitespace-nowrap">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'">
                        </mat-icon>
                        <span class="ml-1 text-secondary">Form</span>
                    </div>
                </div>
                <div class="flex sm:hidden">
                    <a class="
                            inline-flex
                            items-center
                            -ml-1.5
                            text-secondary
                            font-medium
                        ">
                        <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                        </mat-icon>
                        <span class="ml-1">Back</span>
                    </a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="
                        text-3xl
                        md:text-4xl
                        font-extrabold
                        tracking-tight
                        leading-7
                        sm:leading-10
                        truncate
                    ">
                    Formulario de Realizado
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10 overflow-y-auto" cdkScrollable>
        <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="formGroup">
            <span *ngIf="!isNew" [ngClass]="getClass()">Agendamento {{getSchedule()}}</span>
            <mat-vertical-stepper [linear]="true" #verticalStepper>
                <mat-step [formGroupName]="'step1'" [stepControl]="formGroup.get('step1')" #verticalStepperStep1>
                    <ng-template matStepLabel>Informações Básicas</ng-template>
                    <div>
                        <service-select formControlName="servicoId"></service-select>
                    </div>

                    <div>
                        <client-select formControlName="clienteId"></client-select>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Valor</mat-label>
                            <input matInput [formControlName]="'valor'" [placeholder]="'Valor'" />
                            <mat-icon class="icon-size-5" matPrefix>paid</mat-icon>
                            <mat-error *ngIf="
                                    formGroup
                                        .get('step1')
                                        .get('valor')
                                        .hasError('required')
                                ">
                                Campo obrigatório
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Data</mat-label>
                            <input minlength="10" maxlength="10" matInput [formControlName]="'dataOperacao'"
                                [placeholder]="'DD/MM/YYYY'" />
                            <mat-icon class="icon-size-5" matPrefix>today</mat-icon>
                            <mat-error *ngIf="
                                    formGroup
                                        .get('step1')
                                        .get('dataOperacao')
                                        .hasError('required')
                                ">
                                Campo obrigatório
                            </mat-error>
                            <mat-error *ngIf="
                            this.formGroup.get('step1').get('dataOperacao').errors?.minlength
                                ">
                                O formato da data deve ser assim: DIA/MES/ANO
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label>Hora</mat-label>
                            <input matInput [formControlName]="'hora'" [placeholder]="'HH:MM'" />
                            <mat-icon class="icon-size-5" matPrefix>schedule</mat-icon>
                            <mat-error *ngIf="
                                    formGroup
                                        .get('step1')
                                        .get('hora')
                                        .hasError('required')
                                ">
                                Campo obrigatório
                            </mat-error>
                            <mat-error *ngIf="
                            this.formGroup.get('step1').get('hora').errors?.minlength
                        ">
                                O formato da hora deve ser assim: HORA:MINUTOS
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="flex justify-end">
                        <button class="px-8" mat-flat-button [color]="'primary'"
                            [disabled]="formGroup.get('step1').invalid" type="button" matStepperNext>
                            Próximo
                        </button>
                    </div>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Finalizar</ng-template>
                    <p class="my-6 font-medium">
                        Formulário completo e liberado para salvar
                    </p>
                    <div class="flex justify-end mt-8">
                        <button class="px-8 mr-2" mat-flat-button [color]="'warn'" type="button" (click)="back()">
                            Cancelar
                        </button>
                        <button [disabled]="disable" class="px-8" mat-flat-button [color]="'primary'" type="submit"
                            (click)="save()">
                            Salvar
                        </button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </form>
    </div>
</div>

<!-- Alert -->
<fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
    [@shake]="alert.type === 'error'">
    {{alert.message}}
</fuse-alert>