<div>
    <h1>POLÍTICA DE PRIVACIDADE</h1>
    <p>
        A BARBERWEB é uma empresa fictícia criada apenas para realizar o TCC;

        Esta política destina-se a regular o site “BARBER WEB”, englobando todos os seus produtos.

        Caro Usuário, leia atentamente e em caso de dúvida entre em contato através do contato@lapateam.com

        Ao acessar e/ou utilizar o site BARBER WEB o Usuário declara ter no mínimo 18 (dezoito) anos e ter capacidade
        plena
        e expressa para a aceitação dos termos e condições desta Política de Privacidade e do Termo de Uso e Condições
        gerais para todos os fins de direito.

        Agente de tratamento dos dados: BARBER WEB.

        Base Legal: Lei nº 13.709/2018, a Lei Geral de Proteção de Dados. Lei 12.965/2014 Marco Civil da Internet.

        DAS DEFINIÇÕES
        Dados Pessoais: informação relacionada ao Usuário, tais como nome completo, e-mail, telefone e número de CPF.

        Usuário: pessoa a quem se referem os dados pessoais que são objeto de tratamento. Aquela que acessa e/ou utiliza
        a
        plataforma;

        Tratamento: toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção,
        classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento,
        armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão
        ou
        extração;

        Consentimento: manifestação livre, informada e inequívoca pela qual o Usuário concorda com o tratamento de seus
        dados pessoais para uma finalidade determinada;

        Finalidade: Objetivo do BARBER WEB ao utilizar os dados do Usuário.

        Cookies: Arquivos de dados que os websites solicitam que o navegador dos Usuários armazene.

        DA COLETA E USO DAS INFORMAÇÕES
        2.1 O BARBER WEB coleta os dados pessoais inseridos pelo Usuário a fim de preenchimento de formulário e
        cadastro. E
        utiliza-se destes dados para promover ações de marketing e comunicação.

        2.2 Para poder acessar conteúdos, receber material promocional e avisos, O BARBER WEB precisará que o Usuário
        forneça
        seu nome completo e e-mail. Os dados pessoais coletados não serão utilizados para envio de qualquer tipo de
        SPAM.

        2.3 O Usuário, caso não deseje mais receber os informativos no e-mail, poderá a qualquer momento desabilitar o
        recebimento de e-mails através do link disponibilizado no próprio e-mail enviado, localizado no rodapé da
        página.

        2.4 Os dados coletados são utilizados apenas para atender o propósito que motivou o cadastro, conforme
        finalidades.
        O Usuário está ciente de que fornece a informação de forma voluntária ao preencher cadastros e/ou formulários no
        site.

        2.5 O BARBER WEB poderá, ainda, através de tecnologias padrões coletar dados automaticamente, tais como
        geolocalização, IP e a sua origem, histórico de navegação, data e hora de acesso.

        As informações coletadas poderão ser utilizadas para fins de comunicação, marketing, pesquisa, planejamento,
        desenvolvimento de serviços.

        DAS INFORMAÇÕES
        3.1 Ao inserir e enviar os dados, o USUÁRIO está expressamente afirmando que são verdadeiros, corretos e de sua
        titularidade, não tendo O BARBER WEB qualquer responsabilidade pelo conteúdo inserido sob qualquer hipótese,
        respondendo o Usuário, civil e criminalmente, por eventuais danos que venha a causar ao BARBER WEB ou terceiros
        em
        razão do acima disposto.

        DIRETRIZES DE SEGURANÇA DA INFORMAÇÃO:

        A informação é um ativo que, como qualquer outro ativo importante para os negócios, tem um valor para a
        organização
        e, consequentemente, necessita ser adequadamente protegida. A Política de Privacidade objetiva proteger a
        informação
        de diversos tipos de ameaça, para garantir a continuidade dos negócios minimizando os danos e maximizando o
        retorno
        dos investimentos e as oportunidades de negócio. A segurança da informação é aqui caracterizada pela preservação
        da:
        a) Confidencialidade, que é a garantia de que a informação é acessível somente a pessoas com acesso autorizado;
        b)
        Integridade, que é a salvaguarda da exatidão e completeza da informação e dos métodos de processamento; c)
        Disponibilidade, a Política de Privacidade será divulgada a todos os colaboradores e terceiros e dispostas de
        maneira que seu conteúdo possa ser consultado a qualquer momento. Para assegurar esses três itens mencionados, a
        informação deve ser adequadamente gerenciada e protegida contra roubo, fraude, espionagem, perda
        não-intencional,
        acidentes e outras ameaças.

        CLASSIFICAÇÃO DA INFORMAÇÃO:

        O BARBER WEB tratará a informação:

        Pública: É uma informação do BARBER WEB ou de seus clientes com linguagem e formato dedicado à divulgação ao
        público
        em geral, sendo seu caráter informativo, comercial ou promocional. É destinada ao público externo ou ocorre
        devido
        ao cumprimento de legislação vigente que exija a sua publicidade.

        Interna: É uma informação do BARBER WEB, que ela não tem interesse em divulgar, onde o acesso por parte de
        indivíduos
        externos à empresa deve ser evitado. Caso esta informação seja acessada indevidamente, poderá causar danos à
        imagem
        da Organização, porém, não com a mesma magnitude de uma informação confidencial.

        Confidencial: É uma informação crítica para os negócios do BARBER WEB ou de seus clientes. A divulgação não
        autorizada dessa informação pode causar impactos de ordem financeira, de imagem, operacional ou, ainda, sanções
        administrativas, civis e criminais à BARBER WEB ou aos seus clientes. É sempre restrita a um grupo específico de
        pessoas, podendo ser este composto por empregados, clientes e/ou fornecedores.

        Restrita: É toda informação que pode ser acessada somente por usuários do BARBER WEB explicitamente indicado
        pelo
        nome ou por área a que pertence. A divulgação não autorizada dessa informação pode causar sérios danos ao
        negócio
        e/ou comprometer a estratégia de negócio da organização.

        Diretrizes Gerais: Todo acesso às informações e aos ambientes lógicos será controlado pelo BARBER WEB, de forma
        a
        garantir acesso apenas às pessoas autorizadas. As autorizações devem serão revistas, confirmadas e registradas
        continuadamente. O BARBER WEB é responsável pela autorização ou confirmação da autorização que deve ser
        claramente
        definido e registrado. Os dados, as informações e os sistemas de informação das entidades serão protegidos
        contra
        ameaças e ações não autorizadas, acidentais ou não, de modo a reduzir riscos e garantir a integridade, sigilo e
        disponibilidade desses bens.

        DA UTILIZAÇÃO DOS COOKIES
        4.1 Cookies são arquivos ou informações que podem ser armazenadas em dispositivos quando o Usuário navega pelo
        website ou aplicativo. Suas funções são (i) proteger o Usuário evitando utilização fraudulenta das credenciais
        (ii)
        Fornecer uma experiência personalizada ao Usuário, permitindo que o website e/ou aplicativo se lembre de suas
        escolhas ou preferências, e ainda forneça conteúdo de acordo com o seu perfil (iii) Analisar a interação do
        Usuário
        com o site ou aplicativo, permitindo à contratada demonstração de estatísticas, interesses em anúncios, serviços
        ou
        produtos.

        4.2 O seu navegador ou dispositivo poderá oferecer configurações relacionadas a essas tecnologias, sendo
        possível
        restringir ou desabilitar permissões de acesso e coleta automática de informações. Importante ressaltar que com
        a
        restrição ou desabilitação, algumas funcionalidades não poderão ser utilizadas, podendo prejudicar o acesso aos
        conteúdos.

        DO COMPARTILHAMENTO
        5.1 As informações coletadas poderão ser compartilhadas eventualmente com terceiros, empresas, fornecedores e
        indivíduos parceiros quando necessário e/ou apropriado à prestação de serviço, além empresas provedoras de
        infraestrutura tecnológica e operacional necessária para as atividades do BARBER WEB, como intermediadoras de
        pagamento e provedores de serviço de armazenamento de informações.

        5.2 O compartilhamento ocorrerá com parceiros que ofereçam níveis de proteção compatíveis com os definidos nesta
        Política de Privacidade e legislação aplicável, sempre atendendo aos propósitos de sua coleta. A transmissão dos
        dados entre parceiros será sempre feita utilizando-se ferramentas de segurança que garantam a integridade,
        privacidade e inviolabilidade de dados e informações do Usuário, nos termos da legislação em vigor.

        5.3 Poderão, ainda, ser compartilhadas na hipótese de determinação de autoridade competente, obrigação legal,
        proteção dos interesses e direitos do BARBER WEB.

        DA SEGURANÇA
        6.1 As informações coletadas são armazenadas para as finalidades apresentadas nesta Política de Privacidade na
        base
        de dados da HOTMART e HOTMART SPARKLE pelo tempo necessário até atingir as finalidades necessárias, podendo ser
        armazenados em servidores localizados no Brasil ou exterior, atendendo aos padrões de segurança da informação.

        6.2 Os dados serão armazenados em ambiente seguro, observado o estado da técnica disponível, e somente serão
        acessados por pessoas qualificadas, autorizadas e credenciadas.

        6.3 Aqueles que entrarem em contato com as informações deverão se comprometer a manter sigilo absoluto. A quebra
        do
        sigilo acarretará responsabilidade civil e o responsável será responsabilizado nos moldes da legislação
        brasileira.

        6.4 O Usuário, titular dos dados, poderá requerer a eliminação, retificação, correção e restrição do uso dos
        dados
        pessoais tratados, conforme hipóteses previstas em lei, mediante manifestação expressa. Devendo contatar o
        BARBER WEB
        através do e-mail: contato@LAPATEAM.com e a Hotmart nos e-mails: gdpr@hotmart.com. suporte@sparkle.com.br.

        6.5 Alguns dados pessoais colhidos deverão, por obrigações legais, serem mantidos em nossos arquivos por um
        prazo
        mínimo legalmente determinado, ainda que o Usuário solicite sua exclusão e/ou alteração, conforme determinado
        pela
        legislação brasileira.

        DOS DIREITOS DOS USUÁRIOS
        O BARBER WEB, no que diz respeito ao processamento de seus dados pessoais, garante ao Usuário o direito de:

        I – Confirmação da existência de tratamento;

        II – Acesso aos dados coletados;

        III – correção de dados incompletos, inexatos ou desatualizados;

        IV – Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com
        legislação brasileira;

        V – Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo
        com a
        regulamentação da autoridade nacional, observados os segredos comercial e industrial;

        VI- A eliminação dos dados pessoais tratados com o seu consentimento, desde que respeitado o prazo mínimo de
        armazenamento de informações determinado pela legislação brasileira;

        VII- A obtenção de informações sobre entidades públicas ou privadas com as quais o BARBER WEB compartilhou seus
        dados;

        VIII- Informações sobre a possibilidade de não fornecer o seu consentimento em relação ao tratamento de seus
        dados
        pessoais, bem como de ser informado sobre suas consequências, em caso de negativa.

        IX – Revogação do consentimento

        DA PROPRIEDADE INTELECTUAL
        8.1 O BARBER WEB assegura que as informações, tais como textos, imagens, nome de domínio, marca, slogan, sons
        e/ou
        aplicativos, softwares e funcionalidades, contidas em seus Meios Digitais estão em conformidade com a legislação
        e
        os normativos que regulamentam os direitos autorais, marcas registradas e patentes, sendo vedadas modificações,
        cópias, reproduções, citações ou quaisquer outras formas de utilização para fins comerciais sem o consentimento
        prévio e expresso do BARBER WEB.

        ISENÇÃO DE RESPONSABILIDADE
        9.1 O BARBER WEB não será responsável por acessos realizados por terceiros não autorizados pelo usuário, no caso
        desses acessos terem sido realizados com a senha e e-mail corretos, cadastrados no site e aplicativo. O USUÁRIO
        será
        responsável pela guarda e uso de sua senha de acesso.

        9.2 O BARBER WEB se exime de quaisquer responsabilidades por eventuais danos ou prejuízos decorrentes de falhas,
        vírus ou invasões do banco de dados do aplicativo ou site, salvo nos casos de dolo ou culpa por tais eventos.

        9.3 O BARBER WEB não será responsável por erros ou eventuais inconsistências na transmissão de dados, pela
        qualidade
        ou disponibilidade da conexão de Internet, que impeçam a adequada utilização dos Meios Digitais.

        SANÇÕES
        10.1 Sem prejuízo de outras medidas cabíveis, o BARBER WEB poderá suspender o acesso ao Usuário quando houver
        suspeita de fraude, ilegalidades ou violação aos termos.

        DISPOSIÇÕES GERAIS
        11.1 Caso haja modificação desta Política de Privacidade, tais alterações serão publicadas e/ou anunciadas de
        forma
        visível no site do BARBER WEB e/ou serão encaminhados avisos no e-mail dos Usuários.

        FORO
        Esta política está sujeita à Lei da República Federativa do Brasil e o Foro Central da Comarca do Rio de Janeiro
        é
        competente para dirimir qualquer controvérsia com relação à mesma.
    </p>
</div>