:host {
    width: 100%;
    background-color: white;
    display: block;
    box-sizing: border-box;
    font-size: 13px;
}

.msg {
    padding: 16px;
    font-size: 1.5rem;
    background-color: #fff;
}

.actions {
    margin: 0px -24px -24px;
    background-color: #fff;
}

#butCancelar {
    color: #1b2535;
}

#butConfimar {
    background-color: #1b2535;
    margin-right: 10px;
    color: white;
}

.icon {
    font-size: 36px;
}

.text {
    font-size: 20px;
    margin-left: 16px;
}

#warning {
    color: #ef5350;
}

.title {
    display: flex;
    justify-content: space-between;
}

.container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg {
    color: #ADADAD;
    font-size: 18px;
    margin-left: 16px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 16px;
}

#butCancelar, #butConfimar {
    margin: 8px;
}

::ng-deep .mat-dialog-container {
    border-radius: 26px !important;
}