.custom-select  {
    border: 1px solid #CBD5E1 !important;
    border-radius: 8px !important;
    margin: 6px 0;
}

.custom-select .ng-select-container {
    padding: 14px !important;
}

.custom-select .ng-dropdown-panel {
    position: relative !important;
}

.custom-select .ng-dropdown-panel-items {
    padding: 0 !important;
}
